extends layout2

block content
  div.block-wrapper
    div.content-wrapper
      h1 About
      hr
      p This is a Node.js/express.js app connected to a MongoDB, and a front end rendering pug.js templates, hosted on Heroku.
