extends layout

block content
  div.block-wrapper
    div.content-wrapper
      div.col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Add project
          // add project form
          table.project-add-form-table
            form(method='POST' action='/projects/add')
              tr
                td.td-left
                  label(for='projectName') Project Name
                td.td-right
                  input#projectName.form-control(type='text', placeholder='Project Name' name='projectName')
              tr
                td.td-left
                  label(for='projectType') Project Type
                td.td-right
                  input#projectType.form-control(type='text', placeholder='Project Type' name='projectType')
              tr
                td.td-left
                  label(for='description') Description
                td.td-right
                  input#description.form-control(type='text', placeholder='Description' name='description')
              tr
                td.td-left
                  label(for='githubUrl') Github Url
                td.td-right
                  input#githubUrl.form-control(type='text', placeholder='Github Url' name='githubUrl')
              tr
                td.td-left
                  button.btn.btn-primary(type='submit') Sign up
                td.td-right
                  button.btn.btn-secondary(type='back') Cancel
