doctype html
html
  head
    title Joe's Portfolio
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    body(onload="updateClock(); setInterval('updateClock()', 1000 )" onscroll='bodyScroll();')
        div.header
          div.title
            div.top-display
              span#clock &nbsp
            h1 joeknowles.net
            div.hdr-btn-wrapper
              div.hdr-btns
                a.hdr-btn(href='/projects') Projects
                a.hdr-btn(href='/about') About
                a.hdr-btn(href='/contact') Contact
                a.hdr-btn(href='/senators') Senators
                a.hdr-btn(href='/logs') Logs
                if user
                  a.hdr-btn(href='/users/logout') Logout
                else
                  a.hdr-btn(href='/users/register') Register
                  a.hdr-btn(href='/users/login') Login

        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer.footer
                p jbk &copy; 2020
        script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src='/javascripts/bootstrap.bundle.min.js')
        script(src='/javascripts/scroll.fade.js')
        script(src='/javascripts/clock.js')
        script(src='/javascripts/onready.js')
