doctype html
html
  head
    title Joe's Portfolio
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    <div class="header">
      <div class="title">
        <div class="top-display">
          <span class="page">Home</span>
        </div>
        <h1>joeknowles.com</h1>
        <div class="hdr-btn-wrapper">
          <div class="hdr-btns">
            <a href="projects.html" class="hdr-btn">Projects</a>
            <a href="about.html"><span class="hdr-btn">About</span></a>
            <a href="/users/list"><span class="hdr-btn">Contact</span></a>
    if user
      <a href="/users/logout"><span class="hdr-btn">Logout</span></a>
    else
      <a href="/users/register"><span class="hdr-btn">Register</span></a>
      <a href="/users/login"><span class="hdr-btn">Login</span></a>

          </div>
      </div>
      </div>
    </div>

    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Copyright &copy; 2017
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
