extends layout

block content
    if user
      if user.role === 'admin'
        div.add-project-btn-container
          a(href='/projects/add') Add Project
    div.block-wrapper
      div.content-wrapper
      h1 Projects
      if projects
        each p in projects
          p #{p.projectName}

