extends layout

block content
    div.content-wrapper
        div.row.center
            div.col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Sign Up
                // register form
                table.register-form-table
                    form(method='POST' action='/users/register')
                        tr
                          td
                            label(for='firstName') First Name
                          td
                            input#firstName.form-control(type='text', placeholder='First Name' name='firstName')
                        tr
                          td
                            label(for='lastName') Last Name
                          td
                            input#lastName.form-control(type='text', placeholder='Last Name' name='lastName')
                        tr
                          td
                            label(for='email') Email
                          td
                            input#email.form-control(type='email', placeholder='name@email.com' name='email')
                        tr
                          td
                            label(for='password') Password
                          td
                            input#password.form-control(type='password', placeholder='password' name='password')
                        tr
                          td
                            label(for='password2') Confirm
                          td
                            input#password2.form-control(type='password', placeholder='confirm' name='password2')
                        tr
                          td
                              label(for='company') Company
                          td
                            input#company.form-control(type='text', placeholder='Company Name' name='company')
                        tr
                          td
                            label(for='phone') Phone
                          td
                            input#phone.form-control(type='phone', placeholder='xxx.xxx.xxxx' name='phone')
                        tr
                          td
                            button.btn.btn-primary(type='submit') Sign up
                          td
                            button.btn.btn-secondary(type='back') Cancel
