extends layout2

block content
    div.senator-content
        div.senator-table-container
            table
                tr
                  th First
                  th Last
                  th Party
                  th State
                  th Class

