extends layout2
include ./mixins/_demRow
include ./mixins/_repRow

block content
    div.senator-content
        div.senator-table-container
            table
                tr
                  th First
                  th Last
                  th Party
                  th State
                  th Class
                each senator in senators
                  -const p = senator.party;
                  if p === 'D'
                    +demTableRow(senator)
                  else
                    +repTableRow(senator)
                  p(class=({p} === "D") ? 'dem' : 'rep')
