extends layout2

block content

  div.block-wrapper
    div.content-wrapper
      h1 Last 10 Registered Visitors
      table.user-list
        thead
        tr
          th Visitor name / Company
          th Last visit
        tbody
        if users
        each user in users
          tr
          if user.company
            td #{user.firstName} from #{user.company}
          else
            td #{user.firstName}
            td #{user.lastVisit}

