extends layout2

block content
  div.content-wrapper
    h1 Other Visitors
    ul
    if users
      each user in users
        if user.company
          li #{user.firstName} from #{user.company}
        else
          li #{user.firstName}

