.btn-bar-login {
  font-size: 17px;
  position: absolute;
  vertical-align: bottom;
  padding: 5px 9px;
  right: 0px;
  font-weight: bold;

}

.btn-login {
  border-radius: 23px;
  margin: 17px 13px 0 0;
  font-size: 17px;
  padding: 5px 9px;
  font-weight: bold;
}
