<div id="popup-register">
  <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" [(ngModel)]="userObj">
    <table id="table-register"><tbody>
    <tr>
      <td colspan="2"><h1>Register</h1></td>
    </tr>
    <tr>
      <td>
        <label for="firstName">First Name</label>
      </td>
      <td>
        <input id="firstName" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" [(ngModel)]="userObj.firstName"/>
      </td>
    </tr>
    <tr *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <td colspan="2">
        <div *ngIf="f.firstName.errors.required">First name is required</div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="lastName">Last Name</label>
      </td>
      <td>
        <input id="lastName" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" [(ngModel)]="userObj.lastName"/>
      </td>
    </tr>
    <tr *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <td colspan="2">
        <div *ngIf="f.lastName.errors.required">Last name is required</div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="email">Email</label>
      </td>
      <td>
        <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="userObj.email"/>
      </td>
    </tr>
    <tr *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <td colspan="2">
        <div *ngIf="f.email.errors.required">Email is required</div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">Password</label>
      </td>
      <td>
        <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="userObj.password"/>
      </td>
    </tr>
    <tr *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <td colspan="2">
        <ul>
          <li *ngIf="f.password.errors.required">Password is required</li>
          <li *ngIf="f.password.errors.minlength">Password must be at least 6 characters</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <label for="password2">Confirm PW</label>
      </td>
      <td>
        <input id="password2" type="password" formControlName="password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" [(ngModel)]="userObj.password2"/>
      </td>
    </tr>
    <tr *ngIf="submitted && f.password2.errors" class="invalid-feedback">
      <td colspan="2">
        <ul>
          <li *ngIf="f.password2.errors.required">Password is required</li>
          <li *ngIf="f.password2.errors.minlength">Password must be at least 6 characters</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <label for="company">Company</label>
      </td>
      <td>
        <input id="company" type="text" formControlName="company" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }" [(ngModel)]="userObj.company"/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="phone">Phone</label>
      </td>
      <td>
        <input id="phone" type="phone" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" [(ngModel)]="userObj.phone"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="btn-bar-register">
          <button [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
          </button>
          <a routerLink="/" class="btn btn-link">Cancel</a>
        </div>
      </td>
    </tr>
    </tbody></table>
  </form>
</div>

