<div id="popup-login">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <table id="table-login"><tbody>
    <tr>
      <td colspan="2"><h1>Sign in</h1></td>
    </tr>
    <tr>
      <td>
        <label for="email">Email</label>
      </td>
      <td>
        <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      </td>
    </tr>
    <tr *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <td colspan="2">
        <div *ngIf="f.email.errors.required">Email is required</div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">Password</label>
      </td>
      <td>
        <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      </td>
    </tr>
    <tr *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <td colspan="2">
        <ul>
          <li *ngIf="f.password.errors.required">Password is required</li>
          <li *ngIf="f.password.errors.minlength">Password must be at least 6 characters</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="btn-bar-login">
          <button [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Sign in
          </button>
          <a routerLink="/register" class="btn btn-link">Sign up</a>
        </div>
      </td>
    </tr>
    </tbody></table>
  </form>
</div>
